    /*div{
        background-color: red;
        color:white;
        font-size: 32 px;
        text-align:center;
        font-weight: bold;
    }*/

    /* p{ 
        background-color: green;
        color:white;
        font-size: 18 px;
    } */

    .container .text{ /*descendant selector*/
        background-color: yellow;
        color:red;
        font-size: 20px;
        text-align: center;
    }

    button{ /*type selector */
        background-color: orange;
        font-size: 18 px;
    }

    .NumberOdd{
    background-color: palevioletred;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    }

    .Size{
        font-size: 24px;
    }

    #numberTwo{
    color:blue;
    font-size: 36px;
    }

    #numberFour{  /*Access Id*/
        background-color: lightgreen;
        font-weight: bold;
        }

    .click{
        background-color: black;
        color: white;
    }

    .noClick{ /*Access Class*/
        background-color: yellow;
    }

    .click,.noClick{ /*Grouping Selectors*/
        font-size: 28px;
        font-family: Helvetica,'Times New Roman', sans-serif
    }

    .avatar.proportioned{ /*Chaining Selectors*/
        width: 300px;
        height:auto;
    }
    .avatar.distorted{/*Chaining Selectors*/
        width: 200px;
        height:400px;
    }
